.holder {
    width: 30%;
    aspect-ratio: 1;
}
.picanimator {
    width: 60%;
    aspect-ratio: 1;
    transform: rotateZ(-10deg);
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--primary);
    animation: spin 20s ease-in-out  infinite;
}
@keyframes spin {
    0% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    20% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    22% {
        transform: rotateZ(-10deg) rotateY(90deg);
    }
    24% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    45% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    50% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    52% {
        transform: rotateZ(-10deg) rotateY(90deg);
    }
    54% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    70% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    72% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    74% {
        transform: rotateZ(-10deg) rotateY(90deg);
    }
    76% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    94% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    96% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
    98% {
        transform: rotateZ(-10deg) rotateY(90deg);
    }
    100% {
        transform: rotateZ(-10deg) rotateY(0deg);
    }
}

@media (orientation:portrait) {
    .holder {
        width: 60%;
    }
}