.floatnav {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    width: auto;
    border: 1px solid rgba(0, 255, 255, 0.357);
    border-radius: 10px;
    background-color: rgba(13, 14, 38, 0.275);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-out;
}
.floatnav i,button {
    margin: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}
.floatnav button {
    margin: auto;
}
a{
    color: var(--color);
}

@media (orientation:portrait) {
    #fullscreen{
        display: none;
    }
}